html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.flex-container {
  display: flex;
  background-color:  #ffff;
}

.flex-container > div {
  background-color: #aaaa;
  margin: 0px;
  padding: 20px;
  font-size: 30px;
}


body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  background-size: 100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 20px;
  color: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  color: #757575;
}


h1 {
  font-size: 2.0em;
  color: #000000;
  margin-bottom: 20px;
  font-size-adjust: auto;
  font-style: italic;
}

h2 {
  font-size: 1.5em;
  color: darkblue;
  margin-bottom: 20px;
  font-size-adjust: auto;
  font-style: oblique;
}

h3 {
  font-size: 1.50em;
  color: #757575;
  margin-bottom: 20px;
  font-size-adjust: auto;
  font-style: bold;
}

h4 {
  font-size: 3.0em;
  color: white;
  margin-bottom: 20px;
  font-size-adjust: auto;
  font-style: oblique;
  text-align: center;
}

h5 {
  font-size: 2.2em;
  color: #757575;
  margin-bottom: 20px;
  font-size-adjust: auto;
  font-style: bold;
  text-align: center;
}

h6 {
  font-size: 1.1em;
  color: white;
  margin-bottom: 20px;
  font-size-adjust: auto;
  font-style: italic;
  text-align: center;
}

h7 {
  font-size: 0.8em;
  color: white;
  margin-bottom: 20px;
  font-size-adjust: auto;
  font-style: italic;
  text-align: left;
}

h8 {
  font-size: 0.75em;
  color: black;
  margin-bottom: 20px;
  font-size-adjust: auto;
  font-style: italic;
  text-align: left;
}




a, a:link, a:visited {
  color: black;
  text-decoration:  underline;
  font-size: 1em;
}

a:hover, a:active, a:focus {
  color: #e25909;
  font-size: 110%
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 8px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 0px;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}


#content {
  width: 100%;
  border-left: 1px solid darkred;
  padding-left: 25px;
}

.footer {
  font-size: 0.80rem;
  text-align: center;
  font-size-adjust: auto;
  font-style: italic;
  background: #ddd;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
