html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
 
body {
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  background-color: #90A4AE;

}
.container {
  display: flex
  background-color: #90A4AE;
}
.nav {
    
  background-color: #777777;
  width: 100%;
  flex: 1;
  text-align: left;
  height: 800px;
  padding:10px;
}
  
.main {
    
    background: #90A4AE;
    margin: 400px 60px;
    font-size:1.0rem;
    width: 1000px;
    height:60px;
    text-align: justify;

}

.footer {
  font-size: 0.80rem;
  text-align: center;
  font-size-adjust: auto;
  font-style: italic;
  /* padding: 20px; */
  background: #ddd;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

h4 {
    font-size: 4.60rem;
}


